<p>Creating and deleting variable mappings requires the permission <b>admin morris omniture var mappings</b>. The reasoning
surrounding a separate permission for creation of variable mappings is really quit simple. Variable mappings will
be closely tied to the business operations of a particular customer. Therefore, while it might be easy to change
a mapping through Drupal without knowing the consequences of change from an admistrative standpoint could potentially
cause havok. Thus, it is highly encouraged to grant the <b>admin morris omniture var mappings</b> permission
to those who fully understand how omniture tagging integrates with a companies business practices.</p>

<p>Creating a variable mapping is simple. When a user is allowed to create variable mappings based on pocessing
the aftermentioned permission several form controls will be shown at the top.</p>

<img src="&path&advanced/assets/img/config_vars_create.jpg" width="90%" alt="variable create form" />

<p>Both the variable and plugin field are required. The group field is optional. The variable field will be name
of the variable as it is passed to omniture. In the case of Morris Communications tagging operations this
would likely be something like prop2, prop3, prop4, etc. However, the variable name can be <b>any</b> valid
JavaScript variable name. Users don't necessarily need to know what means considering there is validation 
that will kick in when an invalid variable name is entered.</p>

<p>The plugin select menu determines the data which the variable will be populated with. The first dropdown
is actually a list a groups. All plugins are grouped into different categories based on what they do or the company
which they are applicable. A good example of this is the group Morris. When one selects the Morris group a second
drop down would appear that than lists all the plugins within the Morris group. This is the same functionality
that would occur for Node, User, etc. Once an item within the first drop down is selected the second drop down
will display the actual plugins available. One should choose a plugin from that list which to bind the variable
name to. It is the plugins sole responsibility to determine data output, settings, etc for the individual mapping.</p>

<p>The Group textfield is completely optional. Any variables without a group defined will automatically fall
under a group of ungrouped that rises to the top of the variable mapping table shown. For the most part
group is mostly aesthetic. The only thing it is meant to do is provide a means of organization within the list
of variable mappings shown in the table. Otherwise, the group textfield has not other purpose and is not
an important part of functionality. Users can choose to use it or not it is really up to them.</p>

<p>Once a variable name, plugin and optional group have been specified the add button to the far right can be
clicked to create the variable mapping. Upon no validation errors a message will be displayed above the variable
mapping table that states the variable has been created. The variable will than appear within the table under 
the chosen name. Depndent on whether a group was specified or not the variable mapping will be below on of
headers for ungrouped or the group specified.</p>

<div class="pullout caution">
    <p>Under certain circumstances attempting to create a mapping will fail with error messages
    shown above the variable mapping table. The one that some people might run into that is worth a mention
    will be when the plugin has already been mapped. This error will occur when a mapping has already
    been created for the specified plugin. Each plugin can only be mapped to a single variable.</p>
</div>