<p>The <a href="/admin/config/system/morris-omniture/mappings">variables tab</a> provides most of the power that would not be found in similiar modules
like the widely established omniture integration module.</p>

<img src="&path&advanced/assets/img/config_vars_datagrid.jpg" width="90%" alt="variable data grid" />

<p>Variable mappings allow a site administrator
to set-up dynamic properties and map them to omniture variable output. A short example of use cases
are:</p>

<ul>
    <li>Pass node ID to omniture</li>
    <li>Pass node type to omniture</li>
    <li>Pass user name to omniture</li>
    <li>...</li>
</ul>

<p>This is only a short listing of some common default variable mappings provided by
my the module.</p>

<div class="pullout morris">
    <p>The module was originally sponsored by morris communications. Therefore, many variables are provided
    specific to morris communications business operations. Those variables are all grouped under
    Morris in the variable drop down. When using this module outside of morris communication web sites
    those variables can likely be ignored considering any variables that are more generic such as; node ID
    are organized under a different group. Only those variables that are very specific to morris business
    operations are grouped under.</p>
</div>

<div class="pullout dev">
    <p>For developers interested in extending the functionality of the module variable mappings
    are ctool plugins. Using the ctools plugins architecture new plugins can be created which
    than become available in the variable drop down menu. Therefore, when the time comes that new data
    needs to be passed to omniture a plugin can actually be written to do so than mapped
    to the proper omniture variable using admin UI provided on the page here. This is a relatively advanced topic
    and will be covered in the development docs.</p>
</div>