<p>Some variables have settings associated with them. When a variable has settings the settings button will be enabled
for the variable mapping.</p>

<img src="&path&advanced/assets/img/config_vars_group.jpg" width="90%" alt="variable with settings and one without" />

<p>For the variables shown above pageName has settings and pageType does not. Therefore, the settings button can be clicked
for pageType. When this is done additional configuration options are revealed for the variable mapping.</p>

<img src="&path&advanced/assets/img/config_vars_settings.jpg" width="90%" alt="variable with settings" />

<p>Once th settings are revealed a user can change them and click the save button. Upon the plugin accepting
the changes a message will be shown above the variable mapping table stating the settings for the variable
have been sucessfully updated. To verify this a user can click the settings button again and should see the
settings specified. Once changes have been verified the cancel button can be clicked to hide the settings form
without updating anything.</p>