/**
 * @file
 * The variable mappings data grid/form style modifications.
 */

#morris-omniture-mappings-form .btn-proxy + input {
  display: none;
}

#morris-omniture-mappings-form input.btn-proxy[value=Save] {
  margin-top: .5em;
}
